.button {
  cursor: pointer;
  margin: 0;
  height: max-content;
  position: relative;
  border: 1px dashed #eee;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button--rotate-over {
  transition: background-color 250ms ease-in-out 0.25s;
  -webkit-transition: background-color 250ms ease-in-out 0.25s;
  -moz-transition: background-color 250ms ease-in-out 0.25s;
  -ms-transition: background-color 250ms ease-in-out 0.25s;
  -o-transition: background-color 250ms ease-in-out 0.25s;
}

.button--rotate-over:hover,
.button--rotate-over:focus-within {
  outline: 1px solid transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-color: transparent;
  background-color: #0be8f496;
}

/* border animation */
.button--rotate-over span {
  position: absolute;
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
}
.button--rotate-over span:nth-child(1) {
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #0be8f4;
  width: 1.5px;
  transform: scaleY(0);
  transform-origin: top;
}
.button--rotate-over:hover span:nth-child(1),
.button--rotate-over:focus-within span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
}
.button--rotate-over span:nth-child(2) {
  top: 0;
  left: 0;
  height: 1.5px;
  width: 100%;
  background-color: #0be8f4;
  transform: scaleX(0);
  transform-origin: right;
}
.button--rotate-over:hover span:nth-child(2),
.button--rotate-over:focus-within span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
}
.button--rotate-over span:nth-child(3) {
  right: 0;
  top: 0;
  height: 100%;
  width: 1.5px;
  background-color: #0be8f4;
  transform: scaleY(0);
  transform-origin: bottom;
}
.button--rotate-over:hover span:nth-child(3),
.button--rotate-over:focus-within span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}
.button--rotate-over span:nth-child(4) {
  bottom: 0;
  right: 0;
  height: 1.5px;
  width: 100%;
  background-color: #0be8f4;
  transform: scaleX(0);
  transform-origin: left;
}
.button--rotate-over:hover span:nth-child(4),
.button--rotate-over:focus-within span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
}
